*{
    margin:0px;
    padding:0px;
    }
    
    body{
    height:100%;
    }
.back {
    width: 100%;
    /* height: 100%; */
    /* background-color: slateblue; */
    /* background-image: url('../background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 1;
    filter: brightness(75%); */


    display: flex;
    flex-direction: column;
    height: 890px;
    color:white;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.back::before {
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:890px;
    background:transparent url('../background.jpg') no-repeat;

    filter:brightness(80%);
    z-index:-1;
    background-size:cover;
}

.main {
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 550px;
    /* margin: 10px; */
    background-color: white;
    /* background-color: rgb(150, 147, 147); */
    z-index: 2;
    box-shadow:5px 5px 10px rgba(52, 35, 78);
    border-radius: 10px;
}
/* main::after {
    content: "";
    width: 80%;
    height: 550px;
    position: absolute;
    filter: blur(10px);
    z-index: 5;
} */

.card_left{
    z-index: 10;
    position: relative;
    background-color: white;
    float: left;
    padding-left: 10%;
    padding-top: 70px;
    border-radius: 10px;
}

.card_right {
    z-index: 10;
    position: relative;
    background-color: white;
    /* width: 600px; */
    float: left;
    padding-left: 5%;
    padding-top: 45px;
}
.card{
    /* background: rgb(153, 135, 185); */
    border-radius: 10px;
}
.card2{
    /* background: rgb(153, 135, 185); */
    border-radius: 10px;
}

.password {
    padding-top: 14%;
    padding-bottom: 16%;
}

.username {
    padding-top: 8%;
}

.login {
    padding-bottom: 10%;
}
  
.el-carousel__item:nth-child(2n) {
 background-color: #d3dce6;
    
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  /* .back {
    background: url('~@/assets/background.jpg') center center no-repeat;
  } */
/* 
  .divider {
    
      padding-top: 100px;
  }
.button {
    width: 100%;
    height: 200px;
    background-color: black;
} */