.container {
    background: #fff;
    margin: 0 auto;
    /* text-align: left; */
}


/* ***********************************************8 */
.header {
    padding: 10px 0;
    height: 55px;
    background: pink;
    overflow: hidden;
}
.nav-logo {
    width: 272px;
    height: 55px;
    float: left;
    margin: 5px 0;;
    background-color: cyan;
}
.nav-names {
    width: 100px;
    height: 30px;
    float: left;
    background-color: seagreen;
}

/* *************************************************** */
.middle{
    padding: 10px 0;
    /* background-color: crimson; */
}
.clener {
    clear:both
}

.left {
    width: 600px;
    float: left;
    background-color: rebeccapurple;
}

.right {
    width: 600px;
    float: left;
    background-color: cyan;
}

.footer{
    padding: 0px;
    height: 300px;
    background:pink;
}