/* 容器属性 */

/* 布局属性 */
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    /* text-align: center;d */
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    /* text-align: center; */
    line-height: 200px;

  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    /* text-align: center; */
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

/* 内容布局容器属性 */
.mirros-list {
    position: relative;
    left: 6%;
    background-color: aqua;
    padding-top: 10%;
    width: 860px;
}
.news {
    position: relative;
    left: 2%;
    width: 390px;
    background-color: blueviolet;
    padding: 20px;
}

/* 文件列表 */
.list-head {
    /* position: relative; */
    height: 45px;
    width: 100%;
    /* padding-top: 3%; */

    background-color: #333;
}
.files_list {
    height: 300px;
    width: 100%;
    background-color: white;
}
.search {
    padding-top: 0%;
}