/* 容器 */
.container {
    width: 100%;
    height: auto;
    margin: 0;
}

/* 导航部分容器 */
.header {
    width: 1170px;
    height: 67px;
    margin: 12px auto;
    /* background-color: mediumslateblue; */
}

/* 导航Log标志 */
.nav-logo {
    width: 272px;
    height: 55px;
    float: left;
    margin: 5px 0;
    /* background-color: aqua; */
}
.a-nav-logo {
    color: black;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.img-nav-logo {
    width: 64px;
    height: 50px;
}

/* 导航菜单(HOME BLOG FEED MIRRORS) */
.nav-names {
    float: right;
    margin-top: 10px;
    margin-left: 50px;
}
#nav {
    height: 40px;
    margin-right: 50px;
    /* background-color: #690; */
}
    
#nav ul {
    list-style: none;
    margin-left: 30px;
}
    
#nav li {
    display: inline;
    line-height: 50px;
    float:left
}
    
#nav a {
    color: black;
    text-decoration: none;
    padding: 20px 20px;
}
    
#nav a:hover {
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
}


/* 内容容器 */
.context {
    width: 1190px;
    height: auto;
    margin: auto;
    /* background-color: cadetblue; */
}

/* 文件列表头部 */
.list {
    width: 780px;
    height: 500px;
    margin: 5px;
    float: left;
    background-color: white;
}

.list-title {
    width: 760px;
    height: 50px;
    margin: 5px 9px;
    background-color:white;
}

.h3-list-title {
    font-size: 24px;
    font-weight: 700;
    float: left;
}

.list-input {
    width: 198px;
    height: 30px;
    float: right;
    margin: 5px;
    border-radius: 3px;
    /* border-color: rgba(127, 129, 129, 0.349); */
    border: 1px solid rgba(127, 129, 129, 0.349);
    font-size: 15px;
}

/* 列表列名 */
.list-name {
    width: 760px;
    height: 37px;
    margin: 3px 9px;
    /* background-color: aquamarine; */
    border-bottom: 2.5px solid rgba(127, 129, 129, 0.349);;
}
/* 第一列列名 */
.h5-first-col-name {
    font-size: 18px;
    /* font-weight: 50px; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: left;
    margin-top: 8px;
    margin-left: 10px   ;
}
/* 第二列列名 */
.h5-second-col-name {
    font-size: 18px;
    font-weight: 200;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: right;
    margin-right: 130px;
    
}


/* 文件列表行列内容 */
.mirrors {
    width: 750px;
    height: 500px;
    margin-top: 5px;
    margin-left: 15px;
    /* background-color: aqua; */
}
.table-mirrors {
    /* margin-left: 5px auto; */
    width: 750px;
}
.table-mirrors tr:hover {
    background-color: rgb(199, 213, 224);
}
.table-mirrors td {
    text-align: left;
}
/* 文件名字体 */
.td-1 {
    width: 330px;
    height: 50px;
    font-size: 18px;
    color: rgb(35, 114, 204);
}
/* 日期字体 */
.td-2 {
    width: 140px;
    height: 40px;
    font-size: 16px;
    color: black;
}


/* 新闻要提内所有内容 */
.news {
    width: 390px;
    height: 500px;
    margin: 5px;
    float: right;
    /* background-color: bisque; */
}


/* 底部内容 */
.foot {
    width: 100%;
    height: 400px;
    background-color:rgb(60, 69, 78);
    margin: auto;
}
